body{
    margin: 0;
    text-align: center;
}

.top-container{
    margin-bottom: 2rem;
    padding: 30px 16px 16px 16px;
    text-align: center;
    background-color: antiquewhite;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.About-me{
    margin: 2rem;
    padding-inline: 2rem;
}

p{
    text-align: left;
}

.title-text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.float{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Certificate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Certificate,h2{
    margin-bottom: 10px;
}

.Contact,ul{
    margin-bottom: 10px;
}

.Contact,h2{
    margin-bottom: 0;
}

.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    text-align: left;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100px;
    color: black;
}